*,
*::after,
*::before{   
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.toggle{
    display: none;
}

.main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.dark-main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: rgb(53, 52, 52);
    color: #fff;
    .nav-li-bar> ul>li>a{
        color:#fff;
    }
.nav-sec{
background-color: rgb(53, 52, 52);
border-bottom: 2px solid #4d4c4c;

    }
    .mode-switch-on{
        background-color:  #0074d9;
            padding: 9px;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            color:#fff!important;
        
    }
   
}
.nav-sec{
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0px;
    padding: 1rem 18rem 1rem 10rem;
    border-bottom: 2px solid #f7f4f4;
    z-index: 100;
}
.mode-switch{
    
    cursor: pointer;
    text-decoration: none;
    color: #fff !important;
}


.mode-cl{
    width: 6rem;
    height: 2.2em;
    padding: 1.2em;
    display: flex;
    justify-content: center;
   
    align-items: center;
    background-color: rgb(52, 51, 51) !important;
    border-radius: 4px;

}

.nav-li-bar>ul>li{
    display: inline;
}

.nav-li-menu{
    
    display: flex;
    gap: 2em;
}

.btn{
    color: black;
}

/* home */


.home{
    width: 100%;
    height: auto;
    padding: 8rem 10rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* background-color: blue; */
}
.pro-con{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;

    /* background-color: red; */
}
.profile-pl{
    width: auto;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}
.profile-img{
    width: 10em;
}

/* skill-card */
.skill{
    width: 100%;
display: flex;
flex-direction: column;
gap: 2rem;
/* background-color: red; */
}
.skill-con{
    width: 100%;
    display: flex;
    justify-content: center;
}
.skill-card{
    display: flex;
    justify-content:center;
    gap: 3rem;
    flex-wrap: wrap;
}
/* Project */
.project{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: blanchedalmond; */
}
.project-cards{
    display: flex;
    justify-content:center;
    gap: 3rem;
    flex-wrap: wrap;
}

/* About */
.about{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:1rem;
    /* background-color: aqua; */
}
.about-r-con{
    display: flex;
    flex-direction: column;
    grid:1rem;
    justify-content: start;
    align-items: center;

}
.about-pt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

/* contact */

.contact{
width: 100%;
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 2rem;
justify-content: center;
align-items: center;
}
.contact-btn-li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;

}
/* footer */

.footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

@media(max-width:450px){
    .main{
        width:100%; 
    }
    .mode-cl{
        display: none;
    }
}
@media(max-width:640px){
    .main{
        width: 650px;
        
    }
    .home{
        width: 100%;
        height: auto;
        padding: 8rem 4rem 2rem;
    }
    .nav-sec{
        width: 100%;
        display: flex;
    }
    .pro-con{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        
    }
    .nav-con{
        width: 50%;
    }
    .nav-tog{
        width: 50%;
        position: relative;
        left: 12em;
    }
    .toggle{
        display: inline;
        
    }
    .nav-li-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-li-menu{
        display: none;

    }
    .nav-li-menu-toggle{
       display:  flex;
       flex-direction: column;
       justify-content: center;
       /* align-items: center; */
       gap: 1em;
    }
}

/* @media(max-width:1250px){
    .mode-cl{
        /* width: 6rem;
        height: 2.2em;
        padding: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(52, 51, 51) !important;
        border-radius: 4px; 
        position: relative;
        bottom: 3.3em;
        left: 25rem;
    }
} */
@media(min-width:1250px){
    .mode-cl{
        /* width: 6rem;
        height: 2.2em;
        padding: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(52, 51, 51) !important;
        border-radius: 4px; */
        position: relative;
        bottom: 0em;
        left: 0rem;
    }
}
@media(min-width:2000px){
    .home{
        display: flex;
        justify-content: center;
    }
}
